<ion-tabs>
    <ion-tab-bar slot="bottom">
        <!-- Pestaña Home -->
        <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Mapa</ion-label>
        </ion-tab-button>

        <!-- Pestaña Favorites -->
        <ion-tab-button tab="favorites">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Favoritos</ion-label>
        </ion-tab-button>

        <!-- Pestaña Profile -->
        <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>